<div  class="panel panel-default schema-form-array {{form.htmlClass}}"
      sf-field-model="sf-new-array"
      sf-new-array>
  <div class="panel-heading panel-success">
    <label class="control-label" ng-show="showTitle()">{{ form.title }}</label>
  </div>
  <ol class="list-group" sf-field-model ui-sortable="form.sortOptions">
    <li class="list-group-item {{form.fieldHtmlClass}}"
        schema-form-array-items
        sf-field-model="ng-repeat"
        ng-repeat="item in $$value$$ track by $index">
    </li>
  </ol>
  <div class="clearfix" style="padding: 15px;" ng-model="modelArray" schema-validate="form"></div>
</div>
