<div class="panel panel-default schema-form-{{form.type}} {{form.htmlClass}}">
    <div class="panel-heading panel-success">
        <label class="control-label {{form.labelHtmlClass}}" ng-class="{'sr-only': !showTitle()}"
               for="{{form.key.slice(-1)[0]}}">{{form.title}}</label>
    </div>

    <div class="panel-body">
        <div sf-field-model="replaceAll" ng-bind="$$value$$"></div>
    </div>

    <div class="panel-footer" ng-if="form.feedback || form.description">
      <span ng-if="form.feedback !== false"
            class="form-control-feedback"
            ng-class="evalInScope(form.feedback) || {'glyphicon': true, 'glyphicon-ok': hasSuccess(), 'glyphicon-remove': hasError() }"
            aria-hidden="true"></span>

        <div class="help-block" sf-message="form.description"></div>
    </div>
</div>
