<div ng-if="form.readonly && $$value$$ && $$value$$.length > 0"
     class="panel panel-default schema-form-{{form.type}} {{form.htmlClass}}">
    <div class="panel-heading">
        <label ng-show="showTitle()">{{form.title}}</label>
    </div>

    <div class="panel-body">
        <img class="img-responsive" ng-src="{{$$value$$}}" alt="">

        <button ng-if="form.description" class="btn btn-default pull-right"
                ng-click="tab.show_index = !tab.show_index ? $index : tab.show_index !== $index ? $index : null">
            <i class="glyphicon glyphicon-question-sign"></i>
        </button>
    </div>

    <div class="panel-footer" ng-if="form.feedback || (form.description && tab.show_index === $index )">
        <span ng-if="form.feedback !== false" class="form-control-feedback" aria-hidden="true"></span>
        <div ng-show="tab.show_index === $index" class="help-block" sf-message="form.description"></div>
    </div>
</div>

<div class="form-group schema-form-{{form.type}} {{form.htmlClass}}"
     ng-if="!form.readonly"
     ng-class="{'has-error': form.disableErrorState !== true && hasError(), 'has-success': form.disableSuccessState !== true && hasSuccess(), 'has-feedback': form.feedback !== false }">
    <label class="control-label {{form.labelHtmlClass}}" ng-class="{'sr-only': !showTitle()}"
           for="{{form.key.slice(-1)[0]}}">{{form.title}}</label>

    <div ng-class="{'input-group': form.description || hasSuccess() }"
         ng-if="!form.fieldAddonLeft && !form.fieldAddonRight">

        <input ng-if="!form.fieldAddonLeft && !form.fieldAddonRight"
               ng-show="form.key"
               type="{{form.type}}"
               step="any"
               sf-changed="form"
               placeholder="{{form.placeholder}}"
               class="form-control {{form.fieldHtmlClass}}"
               id="{{form.key.slice(-1)[0]}}"
               ng-model-options="form.ngModelOptions"
               ng-model="$$value$$"
               ng-disabled="form.readonly"
               schema-validate="form"
               name="{{form.key.slice(-1)[0]}}"
               aria-describedby="{{form.key.slice(-1)[0] + 'Status'}}">

        <span class="input-group-btn">
            <button class="btn btn-default" ng-if="hasSuccess() && form.feedback !== false" disabled="disabled">
                <i class="glyphicon glyphicon-ok" style="color: #3c763d;"></i>
            </button>
            <button ng-if="form.description" class="btn btn-default"
                    ng-click="tab.show_index = !tab.show_index ? $index : tab.show_index !== $index ? $index : null">
                <i class="glyphicon glyphicon-question-sign"></i>
            </button>
        </span>

    </div>

    <!--<img class="img-thumbnail" ng-show="form.key" ng-src="{{$$value$$}}" alt="" width="{{form.preview.width}}"-->
         <!--height="{{form.preview.height}}">-->

    <button class="btn btn-default" ng-click="$ctrl.open()">
      <i class="glyphicon glyphicon-plus-sign"></i>&nbsp;<span>Add image</span>
    </button>

  <script type="text/ng-template" id="myModalContent.html">

    <style>

    </style>
    <div class="modal-header">
      <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body" id="modal-body">
      <ul>
        <li ng-repeat="item in $ctrl.items">
          <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
        </li>
      </ul>
      Selected: <b>{{ $ctrl.selected.item }}</b>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
      <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
  </script>

    <div ng-if="form.fieldAddonLeft || form.fieldAddonRight"
         ng-class="{'input-group': (form.fieldAddonLeft || form.fieldAddonRight)}">
        <span ng-if="form.fieldAddonLeft"
              class="input-group-addon"
              ng-bind-html="form.fieldAddonLeft"></span>

        <input ng-show="form.key"
               type="{{form.type}}"
               step="any"
               sf-changed="form"
               placeholder="{{form.placeholder}}"
               class="form-control {{form.fieldHtmlClass}}"
               id="{{form.key.slice(-1)[0]}}"
               ng-model-options="form.ngModelOptions"
               ng-model="$$value$$"
               ng-disabled="form.readonly"
               schema-validate="form"
               name="{{form.key.slice(-1)[0]}}"
               aria-describedby="{{form.key.slice(-1)[0] + 'Status'}}">

        <span class="input-group-btn">
            <button class="btn btn-default" ng-if="hasSuccess() && form.feedback !== false" disabled="disabled">
                <i class="glyphicon glyphicon-ok" style="color: #3c763d;"></i>
            </button>

            <button ng-if="form.description" class="btn btn-default"
                    ng-click="tab.show_index = !tab.show_index ? $index : tab.show_index !== $index ? $index : null">
                <i class="glyphicon glyphicon-question-sign"></i>
            </button>


        </span>

        <img class="img-thumbnail" ng-show="form.key" ng-src="{{$$value$$}}" alt="" width="{{form.preview.width}}"
             height="{{form.preview.height}}">

    <span ng-if="form.fieldAddonRight"
          class="input-group-addon"
          ng-bind-html="form.fieldAddonRight"></span>
    </div>

  <span ng-if="hasError() || hasSuccess()"
        id="{{form.key.slice(-1)[0] + 'Status'}}"
        class="sr-only">{{ hasSuccess() ? '(success)' : '(error)' }}</span>

    <div ng-show="$index === tab.show_index" class="help-block" sf-message="form.description"></div>
</div>

<script>

  angular.module('ui.bootstrap.demo', ['ngAnimate', 'ngSanitize', 'ui.bootstrap']);
  angular.module('ui.bootstrap.demo').controller('ModalDemoCtrl', function ($uibModal, $log) {
    var $ctrl = this;
    $ctrl.items = ['item1', 'item2', 'item3'];

    $ctrl.animationsEnabled = true;

    $ctrl.title = "asdasd";

    $ctrl.open = function (size) {
      var modalInstance = $uibModal.open({
        animation: $ctrl.animationsEnabled,
        ariaLabelledBy: 'modal-title',
        ariaDescribedBy: 'modal-body',
        templateUrl: 'myModalContent.html',
        controller: 'ModalInstanceCtrl',
        controllerAs: '$ctrl',
        size: size,
        resolve: {
          items: function () {
            return $ctrl.items;
          }
        }
      });

      modalInstance.result.then(function (selectedItem) {
        $ctrl.selected = selectedItem;
      }, function () {
        $log.info('Modal dismissed at: ' + new Date());
      });
    };

    $ctrl.openComponentModal = function () {
      var modalInstance = $uibModal.open({
        animation: $ctrl.animationsEnabled,
        component: 'modalComponent',
        resolve: {
          items: function () {
            return $ctrl.items;
          }
        }
      });

      modalInstance.result.then(function (selectedItem) {
        $ctrl.selected = selectedItem;
      }, function () {
        $log.info('modal-component dismissed at: ' + new Date());
      });
    };

    $ctrl.toggleAnimation = function () {
      $ctrl.animationsEnabled = !$ctrl.animationsEnabled;
    };
  });

  // Please note that $uibModalInstance represents a modal window (instance) dependency.
  // It is not the same as the $uibModal service used above.

  angular.module('ui.bootstrap.demo').controller('ModalInstanceCtrl', function ($uibModalInstance, items) {
    var $ctrl = this;
    $ctrl.items = items;
    $ctrl.selected = {
      item: $ctrl.items[0]
    };

    $ctrl.ok = function () {
      $uibModalInstance.close($ctrl.selected.item);
    };

    $ctrl.cancel = function () {
      $uibModalInstance.dismiss('cancel');
    };
  });

  // Please note that the close and dismiss bindings are from $uibModalInstance.

  angular.module('ui.bootstrap.demo').component('modalComponent', {
    templateUrl: 'myModalContent.html',
    bindings: {
      resolve: '<',
      close: '&',
      dismiss: '&'
    },
    controller: function () {
      var $ctrl = this;

      $ctrl.$onInit = function () {
        $ctrl.items = $ctrl.resolve.items;
        $ctrl.selected = {
          item: $ctrl.items[0]
        };
      };

      $ctrl.ok = function () {
        $ctrl.close({$value: $ctrl.selected.item});
      };

      $ctrl.cancel = function () {
        $ctrl.dismiss({$value: 'cancel'});
      };
    }
  });

</script>