<div ng-if="!form.readonly" class="form-group" ng-class="{'has-error': hasError(), 'has-success': form.disableSuccessState !== true && hasSuccess()}" >
    <label class="control-label" ng-show="showTitle()">{{form.title}}</label>

    <km-tree-view km-data="form.options.data" hierarchy-key="{{form.options.hierarchyKey}}"
                  km-url="{{form.options.dataUrl}}" expand-level="1" validation="true" placeholder=""
                  selected-node="$$value$$" readonly="form.readonly" form="form"></km-tree-view>

    <span class="help-block" sf-message="form.description"></span>
</div>

<div ng-if="form.readonly && $$value$$ && $$value$$.length > 0" class="panel panel-default schema-form-{{form.type}} {{form.htmlClass}}">
    <div class="panel-heading">
        <label ng-show="showTitle()">{{form.title}}</label>
    </div>

    <div class="panel-body">
      <span ng-bind="$$value$$"></span>
      <button ng-if="form.description" class="btn btn-default pull-right"
              ng-click="tab.show_index = !tab.show_index ? $index : tab.show_index !== $index ? $index : null">
        <i class="glyphicon glyphicon-question-sign"></i>
      </button>
    </div>

    <div class="panel-footer" ng-if="form.feedback || (form.description && $index === tab.show_index)">
        <span ng-if="form.feedback !== false" class="form-control-feedback" aria-hidden="true"></span>
        <div ng-show="$index === tab.show_index" class="help-block" sf-message="form.description"></div>
    </div>
</div>